.news__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}

.news__text:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .news__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }
}
