.news__title{
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
  .news__title {
    font-size: 17px;
    line-height: 22px;
  }
}
